{% include "store/base.html" %}

{% load static %}

{% block content %}

<body>

    <br>

    <div class="container bg-blue shadow-md p-5 form-layout">

        

        <div class="text-center">

                <div><i class="fa fa-times fa-3x text-danger" aria-hidden="true"></i></div>

                <br>
                
                <h3> Verification Failed! </h3>

                <hr>

                <p>Please contact support</p>
            

        </div>


    </div>

</body>

{% endblock %}


