{% include "store/base.html" %}

{% load static %}

{% block content %}

<body>

    <br>

    <div class="container bg-blue shadow-md p-5 form-layout col text-center">

        <h2> Welcome! {{user}} </h2>

        <hr>

        <p> This is the dashboard. Complete the following: </p>
        <li>Track Orders</li>
        <li>Manage Account</li>
        <li>Logout</li>

    </div>

    <div class="container bg-blue shadow-md p-5 form-layout col text-center">

        <h2> Order Tracking </h2>

        <hr>

        <p> Track all of your orders here... </p>

        <a class="btn btn-info navbar-btn text-white" type="button"  href="/"> <i class="fa fa-first-order" aria-hidden="true"></i> &nbsp; My Orders </a>
                                
    </div>

    <div class="container bg-blue shadow-md p-5 form-layout col text-center">

        <h2>Profile Management</h2>

        <hr>

        <p> Update or delete your account </p>

        <a class="btn btn-info navbar-btn text-white" type="button"  href="{% url 'profile-management'%}"> <i class="fa fa-id-card" aria-hidden="true"></i> &nbsp; Manage Account Here </a>
                                
    </div>

    <div class="container bg-blue shadow-md p-5 form-layout col text-center">

        <h2>Update Shipping Address</h2>

        <hr>

        <a class="btn btn-info navbar-btn text-white" type="button"  href="{% url 'manage-shipping'%}"> <i class="fa fa-pencil-square-o" aria-hidden="true"></i> &nbsp; Change Shipping Address </a>
                                
    </div>

    <div class="container bg-blue shadow-md p-5 form-layout col text-center">

        <a class="btn btn-info navbar-btn text-white" type="button"  href="{% url 'user-logout'%}"> <i class="fa fa-sign-out" aria-hidden="true"></i> &nbsp; Logout </a>
                                
    </div>

    <br>
    
</body>


{% endblock %}


    



