
{% include "store/base.html" %}

{% load static %}

{% load crispy_forms_tags %}

{% block content %}


   <!-- <style>

        body{
            background-color: gray;
        }

    </style> -->


    <body>

        <br>

        <div class="container bg-blue shadow-md p-5 form-layout col text-center">

            <h3> Login </h3>

            <hr>

            <form method="POST" autocompelte="off">

                {% csrf_token %}

                {{form.username|as_crispy_field}}

                <br>

                {{form.password|as_crispy_field}}
            
                <br> <br>

                <button type="submit" class="btn btn-secondary btn-lg w-100 btn-block p-2"> &nbsp; Login </button>

                <br><br>

                
                <a class="text-decoration-underline text-white" type="button"  href="{% url 'register' %}">Don't have an Account?</a>

                <br><br>

               
                <a class="text-decoration-underline text-white" type="button"  href="{% url 'reset_password' %}">Forgot your Password?</a>

            </form>




        </div>


    </body>




{% endblock %}